@import url(https://fonts.googleapis.com/css?family=Roboto);

/* .:: STYLING INDEX ::.
*
* CSS RRESET                LINE 16
* GLOBAL STYLE              LINE 64
* HEADER STYLE              LINE 82
* NAVIGATION STYLE          LINE 95
* CONTENT STYLE             LINE 153
* LANDING PAGE STYLE        LINE
* PARKHAUS PAGE STYLE       LINE
* PARKPLATZ PAGE STYE       LINE
* FOOTER STYLE              LINE
* PARKING OVERVIEW STYLE    LINE
* PARKING DETAILS           LINE
* RESERVATION OVERVIEW      LINE
* RESERVATION DETAILS       LINE
*
*/

/* <--- START CSS RESET ---> */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* <--- END CSS RESET ---> */

/* <--- START GLOBAL STYLE ---> */

a {
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 35px;
    color: #2E3192;
}

h2 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 28px;
    color: #2E3192;
}

/* <--- END GLOBAL STYLE ---> */

/* <--- START NAVIGATION STYLE ---> */

#navigation {
    position: fixed;
    width: 100%;
    height: 100px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to bottom, #fff 50%, transparent);
}

#navigation ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#navigation ul li a {
    display: inline-block;
    height: inherit;
    padding: 0 25px;
    transition: all 150ms ease;
    text-transform: uppercase;
    line-height: inherit;
}

#navigation ul li a:hover {
    background: #2D3092;
    color: #fff;
}

#navigation ul li a:after {
    background: #2D3092;
}

nav #logo {
    background: #fff;
}

#logo {
    position: relative;
    width: 100%;
    height: 80px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
}

#logo ul {
    position: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* <--- END NAVIGATION STYLE ---> */

/* <--- START PARALLAX STYLE ---> */

.parallax {
    background-image: url("../media/Hotel-Parking_unscharf.jpg");
    min-height: 1350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.container-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.content {
    height: 800px;
    width: 900px;
    margin-top: 6em;
    padding-top: 2em;
    font-size: 15px;
    box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.content-content {
    color: #000;
    padding-top: 1em;
    padding-left: 1em;
}

.content h1 {
    text-decoration: underline;
    text-align: center;
}

#button-parallax {
    float: none;
    height: 50px;
    width: 110px;
    background-color: #2E3192;
    border: hidden;
    margin-left: -6px;
    font-size: 14px;
    color: #fff;
    display: inline;
}

/* <--- START CONTENT STYLE ---> */

html {
    background-image: url("../media/Hotel-Parking_unscharf.jpg");
    min-height: 100%;
    height: auto;
    background-size: cover;
    background-color: transparent;
}

body {
    color: #2E3192;
    background-color: #fff;
    font-size: 28px;
    background-blend-mode: hard-light;
    font-family: 'Roboto', sans-serif;
    height: 1100px;
}

.content {
    height: 1400px;
    width: 900px;
    display: block;
    padding-top: 110px;
}

/* <--- START LANDING PAGE STYLE ---> */

.flex-content {
    margin-top: 3em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_titel {
    margin-top: 3em;
}

.index_numbers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 4em;
}

.one {
    margin-right: 265px;
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.two {
    margin-right: 265px;
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.three {
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_circle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0.5em;
}

.circle-finden {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-right: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-zahlen {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-right: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-parken {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

.text-finden {
    float: left;
    height: 250px;
    width: 200px;
    margin-right: 120px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   /* box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    justify-content: space-around;
}

.text-zahlen {
    height: 250px;
    width: 200px;
    margin-right: 120px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
}

.text-parken {
    height: 250px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
}

.text-center {
    text-align: center;
    margin-top: 2em;
}

.button-next-site {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-site {
    margin-top: 8em;
    float: none;
    height: 50px;
    width: 200px;
    background-color: #2E3192;
    border: hidden;
    font-size: 14px;
    border-radius: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next-site a {
    height: 100%;
    width: 100%;
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}


.next-site a:hover {
    background-color: #2D51A9;
    color: #fff;
}


#picture {
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;

}

.set-one {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

.pic-one {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    justify-content: space-around;
    position: relative;
}

.pic-two {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    position: relative;
}

.pic-three {
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    position: relative;
}

.set-two {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

.pic-four {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    justify-content: space-around;
    position: relative;
}

.pic-five {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    position: relative;
}

.pic-six {
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    /*box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);*/
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    position: relative;
}


.pic-six:hover {
    background-color: transparent;
    opacity: 1.0;
}

.layer1 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer1:hover {
    background-color: transparent;
}

.text-picture1 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture1:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

.layer2 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer2:hover {
    background-color: transparent;
}

.text-picture2 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture2:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

.layer3 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer3:hover {
    background-color: transparent;
}

.text-picture3 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture3:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

.layer4 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer4:hover {
    background-color: transparent;
}

.text-picture4 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture4:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

.layer5 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer5:hover {
    background-color: transparent;
}

.text-picture5 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture5:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

.layer6 {
    background-color: rgba(255, 255, 255, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer6:hover {
    background-color: transparent;
}

.text-picture6 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #2E3192;
}

.text-picture6:hover {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #fff;
}

/* <--- END LANDING PAGE STYLE ---> */

/* <--- START PARKHAUS PAGE STYLE ---> */

input {
    height: 30px;
    width: 220px;
    border: hidden;
    font-size: 15px;
    margin-left: 10px;
    font-family: RobotoLight, sans-serif;
    transition: all 0.2s;
    box-shadow: 7px 7px 25px 1px rgba(200, 200, 200, 0.50);
    border-radius: 5px;
    text-indent: 5px;
    font
}

input:focus {
    background-color: #2E3192;
    transition: all 0.2s;
    opacity: 0.9;
    color: #fff;
}

.lefty {
    width: 450px;
    height: 400px;
    margin-left: 20px;
}

.righty {
    width: 450px;
    margin-left: 450px;
    margin-top: -400px;
}

.lefty-downy {
    width: 450px;
    margin-top: 180px;
    margin-left: 20px;
}

.righty-downy {
    width: 450px;
    margin-top: -212px;
    margin-left: 450px;
}

#title {
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 0.5em;
    width: auto;
}

#firsty {
    padding-bottom: 10px;
}

p {
    text-align: left;
    padding: 5px;
}

label {
    display: inline-block;
    width: 160px;
    text-align: left;
}

#save-parkhausdaten {
    margin-top: 110px;
    margin-left: -300px;
    background-color: #ff0000;
}

#save-parkhausdaten:hover {
    background-color: #FF7414;
}

.button-next-site {

}

#jump-uebersicht {
    margin-top: -31px;
    margin-left: -200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-jump-uebersicht {
    font-size: 15px;
    vertical-align: middle;
}

/* <--- END PARKHAUS PAGE STYLE ---> */

/* <--- START PARKHAUS PAGE STYLE ---> */

.liste-parkhaus {
    height: 300px;
    width: 300px;
    margin-top: 80px;
    margin-left: 150px;
    background-color: lightslategrey;
}

.parkhausuebersicht {

}

.liste-besitzer {
    height: 300px;
    width: 300px;
    margin-left: 450px;
    margin-top: -300px;
    background-color: lightyellow;
}

.besitzeruebersicht {

}

.maps-parkhaus {
    height: 400px;
    width: 600px;
    margin-left: 150px;
    background-color: lightcoral;
}


/* <--- END PARKHAUS PAGE STYLE ---> */

/* <--- START FOOTER STYLE ---> */

footer {
    width: ;
    height: 30px;
    margin-top: 500px;
    margin-left: -200px;
    margin-bottom: -30px;
}



