@import url(https://fonts.googleapis.com/css?family=Roboto);


/* .:: STYLING INDEX ::.
*
* CSS RRESET                LINE 16
* GLOBAL STYLE              LINE 64
* HEADER STYLE              LINE 82
* NAVIGATION STYLE          LINE 95
* CONTENT STYLE             LINE 153
* FOOTER STYLE              LINE
* PARKING OVERVIEW STYLE    LINE
* PARKING DETAILS           LINE
* RESERVATION OVERVIEW      LINE
* RESERVATION DETAILS       LINE
*
*/

/* <--- START CSS RESET ---> */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* <--- END CSS RESET ---> */

/* <--- START GLOBAL STYLE ---> */

a {
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 35px;
    color: #2E3192;
}

h2 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 28px;
    color: #2E3192;
}

/* <--- END GLOBAL STYLE ---> */

/* <--- START NAVIGATION STYLE ---> */

#navigation {
    position: fixed;
    width: 100%;
    height: 100px;
   /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to bottom, #fff 50%, transparent);
}

#navigation ul {
    display: -webkit-box;     display: -moz-box;     display: -ms-flexbox;     display: -webkit-flex;     display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    }

#navigation ul li a {
    display: inline-block;
    height:inherit;
    padding: 0 25px;
    transition: all 150ms ease;
    text-transform: uppercase;
    line-height: inherit;
}

#navigation ul li a:hover {
    background: #2D3092;
    color: #fff;
}

#navigation ul li a:after {
    background: #2D3092;
}

nav #logo {
    background: #fff;
}

#logo {
    position: relative;
    width: 100%;
    height: 80px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
}

#logo ul {
    position: fixed;
    display: -webkit-box;     display: -moz-box;     display: -ms-flexbox;     display: -webkit-flex;     display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* <--- END NAVIGATION STYLE ---> */

/* <--- START PARALLAX STYLE ---> */

.parallax {
    background-image: url("../media/Hotel-Parking_unscharf.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;     display: -moz-box;     display: -ms-flexbox;     display: -webkit-flex;     display: flex;
    justify-content: center;
}

.container-content {
    display: -webkit-box;     display: -moz-box;     display: -ms-flexbox;     display: -webkit-flex;     display: flex;
    justify-content: center;
}

.content {
    height: 500px;
    width: 900px;
    margin-top: 6em;
    padding-top: 2em;
    font-size: 15px;
    box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);
    background: rgba(255,255,255, 0.6);
    border-radius: 5px;
}

.content-content {
    color: #000;
    padding-top: 1em;
    padding-left: 1em;
}

.content h1 {
    text-decoration: underline;
    text-align: center;
}

.input-form {
    width: 700px;
    height: auto;
    clear: both;
}

/*input#bs-form #ph-form{
    height: 20px;
    width: 200px;
    border: hidden;
    font-size: 18px;
    font-family: RobotoLight, sans-serif;
    background-image: url("../media/icons/ic_search_black_48px.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    text-indent: 50px;
    transition: all 0.2s;
}*/

.input-form .form-titel label #titel {
    text-decoration: underline;
}

p {
    text-align:center;
}

.slash {
    float: left;
}

.input-form label
{
    float:left;
    width: 40%;
    text-align:right;
}

.input-form input
{
    float:left;
    width: 20%;
}

.content-content input {
    width: 100%;
    clear: both;
}

input#ph-form:focus{
    background-image: none;
    text-indent: 10px;
}

#button-parallax {
    float: none;
    height: 50px;
    width: 110px;
    background-color: #2E3192;
    border: hidden;
    margin-left: -6px;
    font-size: 14px;
    color: #fff;
    display: inline;
}

/* <--- START CONTENT STYLE ---> */

html {
    background-image: url("../media/Hotel-Parking_unscharf.jpg");
    min-height: 100%;
    height: auto;
    background-size: cover;
    background-color: transparent;
}

body {
    color: #2E3192;
    background-color: #fff;
    font-size: 28px;
    background-blend-mode: hard-light;
    font-family: 'Roboto', sans-serif;
    height: 3000px;
}

.content {
    height: 930px;
    width: 900px;
    display: block;
}

.flex-content {
    margin-top: 3em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_titel {
    margin-top: 3em;
}

.index_numbers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 4em;
}

.one {
    margin-right: 265px;
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.two {
    margin-right: 265px;
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.three {
    font-size: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_circle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0.5em;
}

.circle-finden {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-right: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-zahlen {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-right: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-parken {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index_text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

.text-finden {
    float: left;
    height: 250px;
    width: 200px;
    margin-right: 120px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);
    background-color: #2E3192;
    color: #fff;
    border-radius: 5px;
    justify-content: space-around;
}

.text-parken {
    height: 250px;
    width: 200px;
    margin-right: 120px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);
    background-color: #2E3192;
    color: #fff;
    border-radius: 5px;
}

.text-zahlen {
    height: 250px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 10px 20px 20px 5px rgba(20, 20, 20, 0.50);
    background-color: #2E3192;
    color: #fff;
    border-radius: 5px;
}

.text-center {
    text-align: center;
    margin-top: 2em;
}

.button-next-site {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-site {
    margin-top: 8em;
    float: none;
    height: 50px;
    width: 200px;
    background-color: #2E3192;
    border: hidden;
    font-size: 14px;
    border-radius: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next-site a {
    height: 50px;
    width: 200px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.next-site a:active {
    background-color: #fff;
    color: #2E3192;
}










