@import url(https://fonts.googleapis.com/css?family=Roboto);


/* .:: STYLING INDEX ::.
*
* CSS RRESET                LINE 16
* GLOBAL STYLE              LINE 64
* HEADER STYLE              LINE 82
* NAVIGATION STYLE          LINE 95
* CONTENT STYLE             LINE 153
* FOOTER STYLE              LINE
* PARKING OVERVIEW STYLE    LINE
* PARKING DETAILS           LINE
* RESERVATION OVERVIEW      LINE
* RESERVATION DETAILS       LINE
*
*/

/* <--- START CSS RESET ---> */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* <--- END CSS RESET ---> */

/* <--- START GLOBAL STYLE ---> */

a {
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}
h1 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 35px;
    color: #2E3192;
}
h2 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 28px;
    color: #2E3192;
}

/* <--- END GLOBAL STYLE ---> */

/* <--- START NAVIGATION STYLE ---> */

#navigation {
    position: fixed;
    width: 100%;
    height: 100px;
    background: ;
   /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to bottom, #fff 50%, transparent);
}

#navigation ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    }

#navigation ul li a {
    display: inline-block;
    height:inherit;
    padding: 0 25px;
    transition: all 150ms ease;
    text-transform: uppercase;
    line-height: inherit;
}

/*
#navigation ul li a:hover {
    text-decoration: overline underline;
}
*/

#navigation ul li a:hover {
    background: #2D3092;
    color: #fff;
}

#navigation ul li a:after {
    background: #2D3092;
}
nav #logo {
    background: #fff;
}
/*
nav ul #nav{
    background: linear-gradient(to bottom, #fff, transparent);
}*/
#logo {
    position: relative;
    width: 100%;
    height: 80px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
    text-align: center;
    line-height: 50px;
}

#logo ul {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* <--- END NAVIGATION STYLE ---> */

/* <--- START PARALLAX STYLE ---> */

.parallax {
    background-image: url("../media/Hotel-Parking_unscharf.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-content {
    display: flex;
    justify-content: center;
}
.content {
    height: 300px;
    width: 500px;
    background-color: transparent;
    margin-top: 6em;
    font-size: medium;
}
.content h1 {
    text-decoration: underline;
}
.input-form {
    width: 700px;
    height: auto;
}

input#search {
    height: 50px;
    width: 300px;
    border: hidden;
    font-size: 18px;
    font-family: RobotoLight, sans-serif;
    background-image: url("../media/icons/ic_search_black_48px.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 50px;
    transition: all 0.2s;
}
input#search:focus{
    background-image: none;
    text-indent: 10px;
}

#button-parallax {
    float: none;
    height: 50px;
    width: 110px;
    background-color: #2E3192;
    border: hidden;
    margin-left: -6px;
    padding-top: -3px;
    font-size: 14px;
    color: #fff;
    display: inline;
}

/* <--- START CONTENT STYLE ---> */

html {
    background-image: url("../media/Hotel-Parking_unscharf.jpg") no-repeat center center;
    min-height: 100%;
    height: auto;
    background-size: cover;
}

body {
    color: #2E3192;
    background-color: #fff;
    font-size: 28px;
    background-blend-mode: hard-light;
    font-family: 'Roboto', sans-serif;
    height: 3000px;
}

.content-down {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5em;
}
.title-content {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}
.circle-finden {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.circle-zahlen {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-left: 10px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.circle-parken {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #2E3192;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.text-finden {
    float: left;
    height: 300px;
    width: 200px;
    margin-top: 5em;
    margin-right: 200px;
}
.text-zahlen {
    height: 300px;
    width: 200px;
    margin-top: 5em;
}
.text-parken {
    height: 300px;
    width: 200px;
    margin-top: 5em;
}














